---
import { ThemeLink } from '@/components/link/theme-link'
import { BLOG_SLUG, READ_TIME_SLUG } from '@/consts'
import ContentLayout from '@/layouts/ContentLayout.astro'
import { getSortedPosts } from '@/lib/astro/post'
import { getTimePostMap } from '@/lib/astro/time'

const posts = await getSortedPosts()

// Extract tags from all posts
const tagMap = await getTimePostMap(posts)

const tags = [...tagMap.keys()]
  .sort((a, b) => {
    let d = tagMap.get(a)!.length - tagMap.get(b)!.length

    if (d !== 0) {
      return d
    }

    return a.toString().localeCompare(b.toString())
  })
  .reverse()
---

<ContentLayout
  title="Read Time"
  description="This page lists posts by their estimated read times."
>
  <main slot="main" class="flex flex-col gap-y-8">
    <h1 class="text-2xl font-bold">Read Time</h1>
    <ul class="grid grid-cols-2 gap-2">
      {
        tags.map(tag => {
          const n = tagMap.get(tag)?.length ?? 0
          return (
            <li class="flex flex-row items-center gap-x-2">
              <ThemeLink href={`${BLOG_SLUG}/${READ_TIME_SLUG}/${tag}-min/`}>
                {`${tag} min`}
              </ThemeLink>
              <span class="border-border/50 text-foreground/50 flex h-5 min-w-5 flex-row items-center justify-center rounded-full border px-1 text-xs">
                {n.toLocaleString()}
              </span>
            </li>
          )
        })
      }
    </ul>
  </main>
</ContentLayout>
