---
import { BaseCol } from '@/components/layout/base-col'
import type { IPost } from '@/lib/post'
import { HeroPosts } from '@components/posts/hero-posts'
import { PostSectionCol } from '@/components/posts/post-section-col'
import { PostCol } from '@components/posts/post-col'
import { PostTwoCol } from '@components/posts/post-two-col'
import ContentLayout from '@layouts/ContentLayout.astro'
import { getPostSectionMap, getSortedPosts } from '@lib/astro/post'
import { getPageCount } from '@lib/paginate'
import { ArrowLink } from '@/components/link/arrow-link'
import type { lazy } from 'astro:schema'

const allPosts = await getSortedPosts()

const postMap = getPostSectionMap(allPosts, 3)

const pages = getPageCount(allPosts)

const news = allPosts.filter(post =>
  post.data.sections?.some(section => section.includes('News'))
)

console.log(
  allPosts
    .map(p => p.data.sections)
    .flat()
    .join(', ')
)
---

<ContentLayout title="Blog">
  <BaseCol className="gap-y-16" slot="main">
    <HeroPosts posts={allPosts as IPost[]} page={0} pages={pages} />
    <section class="grid grid-cols-1 gap-y-4 lg:grid-cols-2 lg:gap-x-12">
      <PostCol
        title="Latest"
        href="/blog/latest"
        posts={allPosts as IPost[]}
        page={0}
        pages={pages}
      >
        <ArrowLink
          href="/blog/latest"
          className="hover:text-theme trans-color text-sm"
          stroke="stroke-foreground group-hover:stroke-theme"
          >View all</ArrowLink
        >
      </PostCol>

      <PostSectionCol
        section="All categories"
        postMap={postMap}
        client:visible
      />
    </section>

    <PostTwoCol
      title="News"
      href="/blog/news"
      posts={news as IPost[]}
      page={0}
      pages={pages}
      showSectionLinks={false}
    >
      <ArrowLink
        href="/blog/news"
        className="hover:text-theme trans-color text-sm"
        stroke="stroke-foreground group-hover:stroke-theme">More news</ArrowLink
      >
    </PostTwoCol>

    <!-- <PostsPage posts={posts} page={0} pages={pages} slot="main" /> -->
  </BaseCol>
</ContentLayout>
