---
import { BaseCol } from '@/components/layout/base-col'
import type { IPost } from '@/lib/post'
import { ChevronRightIcon } from '@components/icons/chevron-right-icon'
import { BaseLink } from '@components/link/base-link'
import { HeroPosts } from '@components/posts/hero-posts'
import { PostSectionCol } from '@/components/posts/post-section-col'
import { PostCol } from '@components/posts/post-col'
import { PostTwoCol } from '@components/posts/post-two-col'
import ContentLayout from '@layouts/ContentLayout.astro'
import { getPostSectionMap, getSortedPosts } from '@lib/astro/post'
import { getPageCount } from '@lib/paginate'

const allPosts = await getSortedPosts()

const postMap = getPostSectionMap(allPosts, 3)

const pages = getPageCount(allPosts)

const news = allPosts.filter(post =>
  post.data.sections?.some(section => section.includes('News'))
)
---

<ContentLayout title="Blog">
  <BaseCol className="gap-y-16" slot="main">
    <HeroPosts posts={allPosts as IPost[]} page={0} pages={pages} />
    <section class="grid grid-cols-1 gap-y-4 lg:grid-cols-2 lg:gap-x-12">
      <PostCol
        title="Latest"
        posts={allPosts as IPost[]}
        page={0}
        pages={pages}
      >
        <BaseLink
          href="/blog/latest"
          data-underline={true}
          className="trans-color group hover:text-primary-color data-[underline=true]:hover:decoration-primary-color inline-flex flex-row gap-x-1 text-xs"
          ><span>View all</span>
          <ChevronRightIcon
            stroke="stroke-[2px] stroke-foreground group-hover:stroke-primary-color"
          />
        </BaseLink>
      </PostCol>

      <PostSectionCol
        section="Engineering"
        href="/blog/engineering"
        postMap={postMap}
        client:only="react"
      />
    </section>

    <PostTwoCol
      title="News"
      href="/blog/news"
      posts={news as IPost[]}
      page={0}
      pages={pages}
      showSectionLinks={false}
    >
      <BaseLink
        href="/blog/news"
        data-underline={true}
        className="trans-color group hover:text-primary-color data-[underline=true]:hover:decoration-primary-color inline-flex flex-row gap-x-1 text-xs"
        ><span>More news</span>
        <ChevronRightIcon
          stroke="stroke-[2px] stroke-foreground group-hover:stroke-primary-color"
        /></BaseLink
      >
    </PostTwoCol>

    <!-- <PostsPage posts={posts} page={0} pages={pages} slot="main" /> -->
  </BaseCol>
</ContentLayout>
