---
import { render } from 'astro:content'

import {
  getAuthorPostMap,
  getSortedPosts,
  sortPostsByDateDesc,
  type PostWithHero,
} from '@lib/astro/post'
import { paginate, type AstroPage } from '@lib/paginate'

import { BaseCol } from '@/components/layout/base-col'
import { BaseRow } from '@/components/layout/base-row'
import { HCenterRow } from '@/components/layout/h-center-row'
import { MarkdownContent } from '@/components/markdown-content'
import { PagePagination } from '@/components/page-pagination'
import { PageTitle } from '@/components/page-title'
import { AvatarImage } from '@/components/people/avatar-image'
import { HeroPosts } from '@/components/posts/hero-posts'
import { RestPosts } from '@/components/posts/rest-posts'
import ContentLayout from '@/layouts/ContentLayout.astro'
import { getAuthorBaseUrl } from '@/lib/astro/author'
import { getUrlFriendlyTag } from '@/lib/http/urls'
import type { IPost } from '@/lib/post'
import { getCollection, type CollectionEntry } from 'astro:content'
import { produce } from 'immer'

export async function getStaticPaths() {
  let paths: AstroPage<PostWithHero>[] = []

  const people = await getCollection('people')
  const allPosts = await getSortedPosts()

  //const authorMap = getAuthorMap(people)

  const postMap = getAuthorPostMap(sortPostsByDateDesc(allPosts))

  for (const person of people) {
    const slug = person.id.split('/').pop() || person.id // = getUrlFriendlyTag(person.data.name)
    const posts = postMap.get(getUrlFriendlyTag(person.data.name)) || []

    const pages = paginate(posts, { slug, title: person.data.name }).map(p =>
      produce(p, draft => {
        draft.props.person = person
        draft.props.root = getAuthorBaseUrl(person.data.name)
      })
    )

    console.log(pages)

    paths = paths.concat(pages)
  }

  console.log(`Generated ${paths} `)

  return paths
}

interface Props {
  person: CollectionEntry<'people'>
  data: CollectionEntry<'blog'>[]
  page: number
  pages: number
  root: string
  isTopLevelPage?: boolean
}

const { person, data, page, pages, root, isTopLevelPage } = Astro.props

const { Content } = await render(person)
---

<ContentLayout title={person.data.name}>
  <BaseCol
    className="gap-y-16"
    slot="main"
    {...isTopLevelPage && { 'data-pagefind-body': true }}
  >
    <BaseRow className="gap-x-8">
      <div class="w-full">
        <HCenterRow className="mb-8 lg:hidden">
          <div>
            <AvatarImage person={person.data.name} className="h-64 w-64" />
          </div>
        </HCenterRow>
        <PageTitle title={person.data.name} subTitle={person.data.title} />
        <MarkdownContent className="mt-8"><Content /></MarkdownContent>
      </div>

      <AvatarImage
        person={person.data.name}
        className="hidden aspect-square h-64 w-64 shrink-0 lg:block"
      />
    </BaseRow>

    <section id="latest" class="flex flex-col gap-y-8">
      <h2 class="border-border border-b py-2 text-2xl font-bold">Latest</h2>

      <BaseCol className="gap-y-24">
        {page === 0 && <HeroPosts posts={data as IPost[]} />}

        <RestPosts posts={(page === 0 ? data.slice(4) : data) as IPost[]} />

        <PagePagination page={page} pages={pages} root={root} />
      </BaseCol>
    </section>
  </BaseCol>
</ContentLayout>
