---
import { MarkdownContent } from '@components/markdown-content'
import { PageTitle } from '@components/page-title'
import { AvatarImage } from '@components/people/avatar-image'
import { BaseCol } from '@layout/base-col'
import { BaseRow } from '@layout/base-row'
import { HCenterRow } from '@layout/h-center-row'
import ContentLayout from '@layouts/ContentLayout.astro'
import { render } from 'astro:content'

import {
  getAuthorPostMap,
  getSortedPosts,
  sortPostsByDateDesc,
} from '@lib/astro/post'
import { paginate } from '@lib/paginate'

import { PagePagination } from '@/components/page-pagination'
import { HeroPosts } from '@/components/posts/hero-posts'
import { RestPosts } from '@/components/posts/rest-posts'
import { getAuthorBaseUrl } from '@/lib/astro/author'
import { getUrlFriendlyTag } from '@/lib/http/urls'
import type { IPost } from '@/lib/post'
import { type CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
  let paths: any[] = []

  const people = await getCollection('people')
  const allPosts = await getSortedPosts()

  //const authorMap = getAuthorMap(people)

  const postMap = getAuthorPostMap(sortPostsByDateDesc(allPosts))

  for (const person of people) {
    const slug = person.id.split('/').pop() || person.id // = getUrlFriendlyTag(person.data.name)
    const posts = postMap.get(getUrlFriendlyTag(person.data.name)) || []

    paths = paths.concat(
      paginate(posts, slug).map(p => ({
        ...p,
        props: {
          ...p.props,
          person,
          root: getAuthorBaseUrl(person.data.name),
        },
      }))
    )
  }

  return paths
}

interface Props {
  person: CollectionEntry<'people'>
  data: CollectionEntry<'blog'>[]
  page: number
  pages: number
  root: string
}

const { person, data, page, pages, root } = Astro.props

const { Content } = await render(person)
---

<ContentLayout title={person.data.name}>
  <BaseCol className="gap-y-16" slot="main">
    <BaseRow className="gap-x-8">
      <div class="w-full">
        <HCenterRow className="mb-8 lg:hidden">
          <div>
            <AvatarImage person={person.data.name} className="h-64 w-64" />
          </div>
        </HCenterRow>
        <PageTitle title={person.data.name} subTitle={person.data.title} />
        <MarkdownContent className="mt-8"><Content /></MarkdownContent>
      </div>

      <AvatarImage
        person={person.data.name}
        className="hidden aspect-square h-64 w-64 shrink-0 lg:block"
      />
    </BaseRow>

    <section id="latest" class="flex flex-col gap-y-8">
      <h2 class="border-border border-b py-2 text-2xl font-bold">Latest</h2>

      <BaseCol className="gap-y-24">
        {page === 0 && <HeroPosts posts={data as IPost[]} />}

        <RestPosts posts={(page === 0 ? data.slice(4) : data) as IPost[]} />

        <PagePagination page={page} pages={pages} root={root} />
      </BaseCol>
    </section>
  </BaseCol>
</ContentLayout>
