---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'
import ContentLayout from '@/layouts/ContentLayout.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.added.valueOf() - a.data.added.valueOf()
)
---

<ContentLayout title={SITE_TITLE} description={SITE_DESCRIPTION} tab="Blog">
  <section slot="main">
    <ul>
      {
        posts.map(post => (
          <li>
            <a href={`/blog/${post.id}/`}>
              <div class="h-64 w-full overflow-hidden border">
                <img
                  src={
                    post.data.heroImage
                      ? post.data.heroImage
                      : `/img/blog/${post.id}.webp`
                  }
                  alt={post.data.title}
                  class="w-full object-cover object-center"
                  style="height: 100%;"
                />
              </div>

              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.added} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</ContentLayout>
