---
import {
  RECORDS_PER_PAGE,
  SITE_DESCRIPTION,
  SITE_SUBTITLE,
  SITE_TITLE,
} from '../consts'

import { ThemeLink } from '@/components/link/theme-link'

import { BaseCol } from '@/components/layout/base-col'
import { VCenterRow } from '@/components/layout/v-center-row'

import { RoundedImage } from '@/components/rounded-image'

import ContentDiv from '@/components/layout/ContentDiv.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getSortedPosts } from '@/lib/astro/post'
import { getPageItems } from '@/lib/paginate'
import type { IPost } from '@/lib/post'

import { HeroPosts } from '@/components/posts/hero-posts'
import { RestPosts } from '@/components/posts/rest-posts'

const posts = getPageItems(await getSortedPosts(), 0, RECORDS_PER_PAGE)
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <ContentDiv slot="main">
    <BaseCol className="gap-y-16" slot="main">
      <BaseCol className="gap-y-8">
        <VCenterRow className="justify-between">
          <BaseCol className="gap-y-2">
            <h1 class="text-5xl font-bold">
              <a href="/" class="text-foreground hover:text-primary">
                {SITE_TITLE}
              </a>
            </h1>

            <h2 class="text-foreground/30 text-3xl font-medium">
              {SITE_SUBTITLE}
            </h2>
          </BaseCol>

          <RoundedImage
            className="h-42 w-42"
            src="/img/people/antony-holmes.webp"
            alt="Antony Holmes Logo"
          />
        </VCenterRow>

        <section
          class="from-theme/5 to-theme/10 flex flex-col gap-y-3 rounded-3xl bg-gradient-to-br p-10"
        >
          <p class="mb-4 text-3xl font-bold">Hi there! I'm Antony.</p>

          <p>
            I'm a researcher and software engineer in New York City who's
            learned how to do a few cool things with Java, Python, C++, Go,
            React, Next.js, and Astro, some of which were used to make the very
            site you're looking at right now.
          </p>

          <p>
            That's me posing by the Hudson River for no particular reason,
            except maybe to look cool wearing Risky Business sunglasses.
          </p>

          <p>
            I made this site with love and to try and get high{' '}
            <ThemeLink
              href="https://pagespeed.web.dev/analysis/https-antonyholmes-dev/pzyo54v1fb?form_factor=desktop"
              >Lighthouse</ThemeLink
            >{' '}
            scores. I think I mostly succeeded.
          </p>

          <p>
            My blog covers an assortment of topics, mostly on tech, finance and
            whatever else takes my fancy.
          </p>

          <p>
            I have an aptly named publications page where you can view all of
            the scientific literature I have written, primarily focused on
            cancer genetics.
          </p>

          <p>
            My life story probably won't be optioned, but if it is, I hope the
            movie contains the music of Kraftwerk.
          </p>
        </section>
      </BaseCol>

      <section id="latest" class="flex flex-col gap-y-8">
        <h2 class="border-border border-b py-2 text-2xl font-bold">Latest</h2>

        <BaseCol className="gap-y-24">
          <HeroPosts posts={posts as IPost[]} />

          <RestPosts posts={posts.slice(4) as IPost[]} />

          <!-- <PagePagination page={0} pages={pages} root={root} /> -->
        </BaseCol>
      </section>
    </BaseCol>
  </ContentDiv>
  <!-- <PostSection title="Latest posts">
      <BaseLink
        href="/blog/latest"
        data-underline={true}
        className="trans-color group hover:text-primary-color data-[underline=true]:hover:decoration-primary-color inline-flex flex-row gap-x-1 text-xs"
      >
        <span>View all</span>
        <ChevronRightIcon
          stroke="stroke-[2px] stroke-foreground group-hover:stroke-primary-color"
        />
      </BaseLink>
    </PostSection> -->
</BaseLayout>
