---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@fontsource/dancing-script/400.css'

// import '@fontsource/geist/400.css'
// import '@fontsource/geist/500.css'
// import '@fontsource/geist/600.css'
// import '@fontsource/geist/700.css'

import '@fontsource/inter/400.css'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'

import '@fontsource/mona-sans/400.css'
import '@fontsource/mona-sans/500.css'
import '@fontsource/mona-sans/600.css'
import '@fontsource/mona-sans/700.css'

// import '@fontsource/poppins/400.css'
// import '@fontsource/poppins/500.css'
// import '@fontsource/poppins/600.css'
// import '@fontsource/poppins/700.css'

// import '@fontsource/dm-sans/400.css'
// import '@fontsource/dm-sans/500.css'
// import '@fontsource/dm-sans/600.css'
// import '@fontsource/dm-sans/700.css'

import '@fontsource/figtree/400.css'
import '@fontsource/figtree/500.css'
import '@fontsource/figtree/600.css'
import '@fontsource/figtree/700.css'

// import '@fontsource/outfit/400.css'
// import '@fontsource/outfit/500.css'
// import '@fontsource/outfit/600.css'
// import '@fontsource/outfit/700.css'

import '../styles/global.css'

import { fixHeroPath } from '@/lib/astro/hero'
import { ClientRouter } from 'astro:transitions'
import { SITE_TITLE } from '../consts'
interface Props {
  title: string
  description: string
  image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

let { title, description, image } = Astro.props

if (image) {
  image = fixHeroPath(image)
}

const absoluteImage = image ? new URL(image, Astro.url) : ''
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />

<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} - {SITE_TITLE}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={absoluteImage} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
{description && <meta property="twitter:description" content={description} />}
{image && <meta property="twitter:image" content={absoluteImage} />}

<ClientRouter />
