---
import {
  BLOG_SLUG,
  FOOTER_ITEMS,
  GITHUB_URL,
  SITE_AUTHOR,
  TARGET_BLANK,
} from '@/consts'

import { getUniqueSections } from '@/lib/astro/sections'
import { getUniqueTags } from '@/lib/astro/tags'
import { getUrlFriendlyTag } from '@/lib/http/urls'
import { Rss } from 'lucide-react'
import { GitHubIcon } from './icons/github-icon'
import { BaseCol } from './layout/base-col'
import ContentDiv from './layout/ContentDiv.astro'
import { VCenterRow } from './layout/v-center-row'
import { BaseLink } from './link/base-link'
import { RandomQuote } from './random-quote'
import { Signature } from './signature'
import ThemeToggle from './ThemeToggle.astro'

const today = new Date()

const sections = (await getUniqueSections()).filter(
  section => section !== 'All' && !section.includes('/')
)

const tags = (await getUniqueTags()).slice(0, 10)
---

<footer class="mt-32 mb-8 text-xs">
  <ContentDiv>
    <BaseCol slot="main" className="gap-y-16">
      <div class="grid grid-cols-1 gap-16 xl:grid-cols-5">
        <BaseCol className="text-foreground/50 col-span-2 gap-y-3">
          <VCenterRow><Signature client:visible /></VCenterRow>

          <!-- <span
            class="bg-gradient-to-br from-cyan-400 to-blue-600 bg-clip-text text-2xl font-bold text-transparent"
          >
            {SITE_AUTHOR}
          </span> -->
          <RandomQuote client:visible />
        </BaseCol>

        <div
          class="col-span-3 flex flex-col justify-center gap-16 md:flex-row xl:justify-end"
        >
          <BaseCol className="gap-y-2">
            <span class="font-semibold tracking-wide uppercase"
              >Browse By Tag</span
            >
            <ul class="grid grid-cols-1 gap-1.5">
              {
                tags.map(t => (
                  <li>
                    <BaseLink
                      href={`${BLOG_SLUG}/tag/${getUrlFriendlyTag(t.tag)}`}
                    >
                      #{t.tag} ({t.count})
                    </BaseLink>
                  </li>
                ))
              }
            </ul>
          </BaseCol>

          <BaseCol className="gap-y-2">
            <span class="font-semibold tracking-wide uppercase"
              >Browse By Category</span
            >
            <ul class="flex flex-col gap-y-1.5">
              {
                sections.map(section => (
                  <li>
                    <BaseLink
                      href={`${BLOG_SLUG}/${getUrlFriendlyTag(section)}`}
                      className="hover:underline"
                    >
                      {section}
                    </BaseLink>
                  </li>
                ))
              }
            </ul>
          </BaseCol>

          {
            FOOTER_ITEMS.map(item => (
              <BaseCol className="gap-y-2">
                <span class="font-semibold tracking-wide uppercase">
                  {item.label}
                </span>
                <ul class="flex flex-col gap-y-1.5">
                  {item.items.map(link => (
                    <li>
                      <BaseLink href={link.href} className="hover:underline">
                        {link.label}
                      </BaseLink>
                    </li>
                  ))}
                </ul>
              </BaseCol>
            ))
          }
        </div>
      </div>

      <div class="grid grid-cols-1 items-start gap-y-4 text-xs md:grid-cols-5">
        <div></div>
        <BaseCol className="col-span-3 items-center gap-y-3">
          <span class="text-center font-medium">
            &copy; {today.getFullYear()}
            {SITE_AUTHOR}. All rights reserved.
          </span>

          <div class="flex flex-col items-center gap-x-4 gap-y-2 md:flex-row">
            <BaseLink
              href="/sitemap"
              title="View site map"
              className="hover:underline"
            >
              Site Map
            </BaseLink>

            <BaseLink
              href="/privacy"
              title="View privacy policy"
              className="hover:underline"
            >
              Privacy Policy
            </BaseLink>

            <BaseLink
              href="/terms"
              title="View terms of use"
              className="hover:underline"
            >
              Terms of Use
            </BaseLink>
          </div>
        </BaseCol>

        <VCenterRow className="justify-center gap-x-2 md:justify-end">
          <a href={GITHUB_URL} target={TARGET_BLANK} title="My GitHub">
            <GitHubIcon />
          </a>
          <ThemeToggle />
          <BaseLink
            href="/rss.xml"
            title="Subscribe to RSS feed"
            className="stroke-foreground trans-color hover:stroke-orange-400"
          >
            <Rss className="h-5 w-5" stroke="" />
          </BaseLink>
        </VCenterRow>
      </div>
    </BaseCol>
  </ContentDiv>
</footer>
