---
import { GITHUB_URL, SITE_AUTHOR, TARGET_BLANK } from '@/consts'
import RandomQuote from './RandomQuote.astro'
import { VCenterRow } from './layout/v-center-row'
import { BaseCol } from './layout/base-col'
import ContentDiv from './layout/ContentDiv.astro'
import { Rss } from 'lucide-react'
import { GitHubIcon } from './icons/github-icon'
import ThemeToggle from './ThemeToggle.astro'

const today = new Date()
---

<footer class="mt-32 mb-8 text-sm">
  <ContentDiv>
    <BaseCol slot="main" className="gap-y-8">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <BaseCol>
          <!-- <span
            class="bg-gradient-to-br from-cyan-400 to-blue-600 bg-clip-text text-2xl font-bold text-transparent"
          >
            {SITE_AUTHOR}
          </span> -->
          <RandomQuote />
        </BaseCol>

        <div></div>
      </div>

      <VCenterRow className="justify-between text-xs">
        <span>
          &copy; {today.getFullYear()}
          {SITE_AUTHOR}. All rights reserved.
        </span>

        <VCenterRow className="gap-x-2">
          <a href={GITHUB_URL} target={TARGET_BLANK}>
            <GitHubIcon />
          </a>
          <ThemeToggle />
          <a href="/rss.xml"><Rss className="h-5 w-5" /></a>
        </VCenterRow>
      </VCenterRow>
    </BaseCol>
  </ContentDiv>
</footer>
