---
import { FOOTER_ITEMS, GITHUB_URL, SITE_AUTHOR, TARGET_BLANK } from '@/consts'

import { getUniqueSections } from '@/lib/astro/sections'
import { getUniqueTags } from '@/lib/astro/tags'
import { getUrlFriendlyTag } from '@/lib/http/urls'
import { Rss } from 'lucide-react'
import { GitHubIcon } from './icons/github-icon'
import { BaseCol } from './layout/base-col'
import ContentDiv from './layout/ContentDiv.astro'
import { VCenterRow } from './layout/v-center-row'
import { BaseLink } from './link/base-link'
import { RandomQuote } from './random-quote'
import ThemeToggle from './ThemeToggle.astro'

const today = new Date()

const sections = (await getUniqueSections()).filter(
  section => section !== 'All categories' && !section.includes('/')
)

const tags = (await getUniqueTags()).slice(0, 10)
---

<footer class="mt-32 mb-8 text-sm">
  <ContentDiv>
    <BaseCol slot="main" className="gap-y-16">
      <div class="grid grid-cols-1 gap-16 md:grid-cols-3">
        <BaseCol className="text-foreground/50 gap-y-1">
          <span class="text-foreground/80 text-base font-bold"
            >{SITE_AUTHOR}</span
          >
          <!-- <span
            class="bg-gradient-to-br from-cyan-400 to-blue-600 bg-clip-text text-2xl font-bold text-transparent"
          >
            {SITE_AUTHOR}
          </span> -->
          <RandomQuote client:visible />
        </BaseCol>

        <div
          class="col-span-2 flex flex-col justify-end gap-8 text-sky-600 md:flex-row"
        >
          <BaseCol className="gap-y-2">
            <span class="font-bold uppercase">Browse By Tag</span>
            <ul class="mt-2 grid grid-cols-1 gap-2">
              {
                tags.map(t => (
                  <li>
                    <BaseLink href={`/blog/tag/${getUrlFriendlyTag(t.tag)}`}>
                      #{t.tag} ({t.count})
                    </BaseLink>
                  </li>
                ))
              }
            </ul>
          </BaseCol>

          <BaseCol className="gap-y-2">
            <span class="font-bold uppercase">Browse By Category</span>
            <ul class="mt-2 flex flex-col gap-y-2">
              {
                sections.map(section => (
                  <li>
                    <BaseLink
                      href={`/blog/${getUrlFriendlyTag(section)}`}
                      className="hover:underline"
                    >
                      {section}
                    </BaseLink>
                  </li>
                ))
              }
            </ul>
          </BaseCol>

          {
            FOOTER_ITEMS.map(item => (
              <BaseCol className="gap-y-2">
                <span class="font-bold uppercase">{item.label}</span>
                <ul class="mt-2 flex flex-col gap-y-2">
                  {item.items.map(link => (
                    <li>
                      <BaseLink href={link.href} className="hover:underline">
                        {link.label}
                      </BaseLink>
                    </li>
                  ))}
                </ul>
              </BaseCol>
            ))
          }
        </div>
      </div>

      <VCenterRow className="justify-between text-xs">
        <span>
          &copy; {today.getFullYear()}
          {SITE_AUTHOR}. All rights reserved.
        </span>

        <VCenterRow className="gap-x-2">
          <a href={GITHUB_URL} target={TARGET_BLANK}>
            <GitHubIcon />
          </a>
          <ThemeToggle />
          <BaseLink href="/rss.xml" title="Subscribe to RSS feed">
            <Rss className="h-5 w-5" />
          </BaseLink>
        </VCenterRow>
      </VCenterRow>
    </BaseCol>
  </ContentDiv>
</footer>
