---
import { render, type CollectionEntry } from 'astro:content'

import FormattedDate from '../components/FormattedDate.astro'

import { VCenterRow } from '@/components/layout/v-center-row'
import { TableOfContents } from '@/components/toc'
import { Calendar, Clock } from 'lucide-react'

import { BaseCol } from '@/components/layout/base-col'
import SidebarDiv from '@/components/layout/SidebarDiv.astro'
import SideTags from '@/components/SideTags.astro'
import type { ICrumb } from '@/lib/crumbs'
import { getUrlFriendlyTag } from '@/lib/http/urls'
import { sectionToParts } from '@/lib/post'
import { growingSubsets } from '@/lib/utils'
import ContentLayout from './ContentLayout.astro'

// type Props = CollectionEntry<'blog'>['data'] & {
//   slug: string
//   minutesRead: string
//   //lastModified: Date
//   headings: {
//     depth: number
//     slug: string
//     text: string
//   }[]
// }

interface Props {
  post: CollectionEntry<'blog'>
}

// const {
//   title,
//   description,
//   added,
//   updated,
//   heroImage,
//   slug,
//   minutesRead,
//   tags,
// } = Astro.props

const { post } = Astro.props

const slug = post.id.split('/').pop() || post.id // Flatten the slug

const { Content, remarkPluginFrontmatter } = await render(post)

const ogImage = `/img/og/${slug}.webp` //png

// const hero = post.data.heroImage
//   ? post.data.heroImage
//   : `/img/blog/${slug}.webp`

const crumbs: ICrumb[] = [
  {
    label: 'Blog',
    path: '/blog',
  },
]

// use the first to make a breadcrumb for nested
// sections that are otherwise not given in the slug
const section: string =
  post.data.sections && post.data.sections?.length > 0
    ? post.data.sections[0]!
    : ''

if (section) {
  const parts = growingSubsets(sectionToParts(section))

  for (const part of parts) {
    const name = part[part.length - 1]! // last part is the full section name
    crumbs.push({
      label: name,
      path: `/blog/${getUrlFriendlyTag(part.join('/'))}`,
    })
  }
}
---

<ContentLayout
  title={post.data.title}
  description={post.data.description}
  crumbs={crumbs}
  tab="Blog"
>
  <Fragment slot="head">
    <meta property="og:image" content={ogImage} />
  </Fragment>

  <!-- <Header slot="header" /> -->
  <SidebarDiv slot="main">
    <article slot="main" class="flex flex-col gap-y-8">
      <header class="flex flex-col gap-y-4">
        {
          post.data.heroImage && (
            <div class="h-64 w-full overflow-hidden">
              <img
                src={post.data.heroImage}
                alt={post.data.heroAlt || post.data.title}
                class="w-full object-cover object-center"
                style="height: 100%;"
              />
            </div>
          )
        }

        <h1 class="text-3xl font-bold">
          {post.data.title}
        </h1>
        <VCenterRow
          className="text-foreground/50 justify-between gap-x-2 text-sm"
        >
          <VCenterRow className="gap-x-3">
            <VCenterRow className="gap-x-1">
              <Calendar
                className="stroke-foreground/40 w-5"
                strokeWidth={1.5}
              />
              <FormattedDate date={post.data.added} />
            </VCenterRow>
            <span class="bg-foreground/20 aspect-square h-2 w-2 rounded-full"
            ></span>
            <VCenterRow className="gap-x-1">
              <Clock className="stroke-foreground/40 w-5" strokeWidth={1.5} />
              <span>{remarkPluginFrontmatter.minutesRead}</span></VCenterRow
            ></VCenterRow
          >

          {
            post.data.updated &&
              post.data.updated.getTime() !== post.data.added.getTime() && (
                <span class="text-foreground/50">
                  Last updated on <FormattedDate date={post.data.updated} />
                </span>
              )
          }
        </VCenterRow>

        <!-- {post.data.tags && <Tags tags={post.data.tags} />} -->
      </header>
      <section class="markdown">
        <Content />
      </section>
    </article>

    <BaseCol className="sticky top-20 gap-12" slot="side">
      <SideTags tags={post.data.tags} />
      <TableOfContents client:only="react" />
      <!--  <LatestPosts /> -->
    </BaseCol>
  </SidebarDiv>
</ContentLayout>
