---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { Image } from 'astro:assets'
import LatestPosts from '@components/LatestPosts.astro'
import Toc from '@/components/Toc.astro'
import Tags from '@/components/Tags.astro'
import { Calendar, Dot } from 'lucide-react'
import { VCenterRow } from '@/components/layout/v-center-row'

type Props = CollectionEntry<'blog'>['data'] & {
  slug: string
  minutesRead: string
  lastModified: Date
  headings: {
    depth: number
    slug: string
    text: string
  }[]
}

const {
  title,
  description,
  added,
  //updatedDate,
  heroImage,
  slug,
  minutesRead,
  lastModified,
  tags,
  headings,
} = Astro.props

const ogImage = `/og/${slug}.png`
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <meta property="og:image" content={ogImage} />

    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="grid grid-cols-3 gap-4">
      <article class="col-span-2 flex flex-col gap-y-4">
        <header class="flex flex-col gap-y-2">
          <div class="hero-image">
            {
              heroImage && (
                <Image width={1020} height={510} src={heroImage} alt="" />
              )
            }
          </div>

          <h1>
            {title}
          </h1>
          <VCenterRow className="text-foreground/50 gap-x-2">
            <VCenterRow className="gap-x-2">
              <Calendar
                className="stroke-foreground/40 w-5"
                strokeWidth={1.5}
              />
              <FormattedDate date={added} />
            </VCenterRow>
            <span class="bg-foreground/30 aspect-square h-2 w-2 rounded-full"
            ></span>
            <p>{minutesRead}</p>
          </VCenterRow>

          {
            lastModified && lastModified !== added && (
              <p class="text-foreground/50">
                Last updated on <FormattedDate date={lastModified} />
              </p>
            )
          }

          <Tags tags={tags} />
        </header>
        <slot />
      </article>

      <aside class="col-span-1">
        <Toc headings={Astro.props.headings} />
        <LatestPosts />
      </aside>

      <Footer />
    </main>
  </body>
</html>
